core
lib*.so*
lib*.a
lib*.dll
tests/*.bin
tests/*.exe
*.o
bin/eav
bin/eav.static
bin/eav.exe
bin/eav-static.exe
Makefile.depend
*~
libeav.pc
*.bck
*.gcov
*.gcda
*.gcno
codecov
codecov.sh
coverage/*.txt
coverage/*.htm
coverage/*.html
coverage/*.css
coverage/*.xml
coverage/*.js
coverage/*.json
*.diff
*.patch
